body{
}
.failMessage {
    word-wrap: break-word;
}
.applicationFormat{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.applicationLine{
    display: inline-block;
    width: 100%;
}
.bold{
    font-weight: 600;
}
@media (min-width: 768px){
    .righty{
        float: right;
        text-align: right;
    }
}
.jumbotronSizePlz{
    padding: 0;
    list-style-type:none;
}
form .col-sm-4 input{
    width: 100%;
}
.emailInList{
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}